<% provide(:title, "#{@user.name} 的個人資料") %>

<div class="row">
  <div class="span2 profile">
    <%= gravatar_for @user, size: 140 %>
    <span><%= @user.name %></span>
    <span>共 <%= @user.microposts.count %> 篇文章</span>
  </div>
  <div class="span9 article">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% else %>
      <p>該用戶沒有發表任何文章</p>
    <% end %>
  </div>
  <div class="pagination-right">
    <%= will_paginate @microposts %>
  </div>
</div>